$primary: #d4233d;
$secondary: #1b3b30;
$text-color: #1c281c;
$footer-background: #1c281c;
$gray: #f8f8f8;

$padding: 1rem;
$footer-padding: 3rem;

$font-size-base: 1rem;
$font-size-small: 0.875rem;
$font-size-large: 1.125rem;

$focus-outline-color: #fff;

$breakpoint-md: 768px;
