.carousel-caption {
  position: static;
  display: block;
  align-items: center;
  color: $text-color;
  text-align: left;
  p {
    font-size: $font-size-small;
  }
}

.carousel-indicators {
  justify-content: end;
  margin-right: 15%;

  margin-bottom: 1rem;
  margin-left: 15%;
  [data-bs-target] {
    width: 30px;
    height: 30px;
    margin: 0 0.5rem;
    text-indent: 0px;
    opacity: 1;
    font-size: small;
    background-color: #6e6e6d;
    border: 0;
    border-radius: 100%;
    transition: background-color 0.3s ease, opacity 0.6s ease;
    &:hover {
      background-color: darken($primary, 15%);
      cursor: pointer;
    }

    &.active {
      background-color: $primary;
      cursor: pointer;
    }
  }
}
.carousel-item {
  img,
  svg {
    width: 100%;
    height: auto;

    display: flex;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.line {
  padding: 0;
  padding-top: 1rem;
  margin: 0;
  width: 70%;
  text-align: start;
  padding-left: 15rem;
  position: relative;

  img {
    width: 100%;
    height: auto;
  }
}
.carousel-slide {
  margin-left: 0;
  padding-left: 0;
}
